*{
    margin: 0%;
    padding: 0%;
}
h1{
    color: chocolate;
    margin: 30px;
    text-decoration-line: underline;
}
h2{
    color: chocolate;
    margin: 30px;
    text-decoration-line: underline;
}
p{
    color:chocolate;
    background-color: rgba(240,238,84,1);
}
header{
    background-color:  rgba(240,238,84,1);
    padding: 20px;
}

/*FLEXBOX*/
.flex-container{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
}
.flex-container div{
    margin: auto;
    padding: 80px;
}
body{
    background: rgb(240,238,84);
    background: linear-gradient(0deg, rgba(240,238,84,1) 0%, rgba(47,196,16,1) 200%);
}
li{
    float: right;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
}
    li {
        display:inline-block
    }
    a{
        text-decoration: none;
    }
.italica{
    font-style: italic;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 80px;
}
.parrafo1y2{
    font-family: cursive;
    font-size: 25px;
    text-align: center;
    font-weight: 900px;
    text-decoration-line: none;
    font-family: cursive;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
footer{
    text-align:center;
    font-size: 20px;
}
.estilocont{
    color: black;
    width: 500px;
    text-align: left;
    margin: 30px;
}
.snestilos{ 
    width: 100px;
    margin: 50px;
    padding: 80px;
    border: chocolate;
    border-spacing: 10px;
}
.proestilos{
    width: 500px;
    padding: 10px;
    border: chocolate;
    margin-left: 400px;
    margin-right: 4000px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

/*Aplicando-GRIDS*/
.grid-container{
    display: grid;
    grid-template-areas: 
    "galeria1 galeria2 galeria3"
    "galeria4 galeria5 galeria6"
    "galeria7 galeria8 galeria9";
}
.fotos-columna{
    width: auto;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: khaki;
}


#cuadrado{
    width: 200px;
    height: 200px;
    background-color:rgba(240,238,84,1) ;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes animacion {
    0% {background-color: rgba(240,238,84,1);}
    50% {background-color:  rgba(47,196,16,1);}
    100% {background-color: rgba(240,238,84,1);}

    
}
#cuadrado2{
    width: 200px;
    height: 200px;
    background-color:rgba(240,238,84,1) ;
    animation-name: animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: relative;
}
@keyframes animacion {
    0% {background-color: rgba(240,238,84,1);}
    50% {background-color:  rgba(47,196,16,1);}
    100% {background-color: rgba(240,238,84,1);}

    
}